<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Heading</h1>
    <form method="POST" action="/new">
        <div class="">
            <label for="author"></label>
            <input type="text" id="author" name="author" required>
        </div>
        <div class="">
            <label for="message"></label>
            <input type="text" id="message" name="message" required>
        </div>
        <button type="submit">Submit</button>  
     </form>
</body>
</html>